In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

C:\Users\MS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\MS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
#Importing the dataset
dataset = pd.read_csv('G:\\Case study\\NLP-Tutorial-8---Sentiment-Classification-using-SpaCy-for-IMDB-and-Amazon-Review-Dataset-master\\datasets\\yelp_labelled.txt',sep ='\t',header = None)

In [4]:
dataset.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [6]:
dataset.shape
column_name = ['Review','Sentiment']
dataset.columns = column_name
dataset.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [7]:
dataset_amazon = pd.read_csv('G:\\Case study\\NLP-Tutorial-8---Sentiment-Classification-using-SpaCy-for-IMDB-and-Amazon-Review-Dataset-master\\datasets\\amazon_cells_labelled.txt',sep ='\t',header = None)

In [8]:
dataset_amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [9]:
column_name = ['Review','Sentiment']
dataset_amazon.columns = column_name
dataset.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [11]:
dataset_amazon.shape

(1000, 2)

In [13]:
dataset_imdb = pd.read_csv('G:\\Case study\\NLP-Tutorial-8---Sentiment-Classification-using-SpaCy-for-IMDB-and-Amazon-Review-Dataset-master\\datasets\\imdb_labelled.txt',sep ='\t',header = None)

In [14]:
dataset_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [15]:
column_name = ['Review','Sentiment']
dataset_imdb.columns = column_name
dataset.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [19]:
dataset_imdb.shape

(748, 2)

In [17]:
# Combining all the dataset into Single dataset
dataset = dataset.append([dataset_amazon, dataset_imdb], ignore_index= True)
dataset.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [18]:
dataset.shape

(2748, 2)

In [21]:
dataset['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [23]:
dataset.isnull().sum()

Review       0
Sentiment    0
dtype: int64

In [24]:
import string

In [26]:
punct = string.punctuation

In [27]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
import re
import nltk
nltk.download('stopwords')
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [49]:
def text_cleaning(review):
    clean_review = re.sub('[^a-zA-Z]', ' ', review)
    clean_review = clean_review.lower()
    clean_review =clean_review.split()
    ps = PorterStemmer()
    clean_review = [ps.stem(word) for word in clean_review if not word in set(stopwords.words('english'))]
    return clean_review

In [50]:
text_cleaning("Hello how are you. Like this video")

['hello', 'like', 'video']

## Vectorization Feature Engineering

In [51]:
from sklearn.svm import LinearSVC

In [52]:
vectorizer = TfidfVectorizer(tokenizer= text_cleaning)
clf = LinearSVC()

In [53]:
X = dataset['Review']
y = dataset['Sentiment']

In [54]:
#Splitting the dataset into training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [55]:
X_train.shape , X_test.shape

((2198,), (550,))

In [56]:
classifier = Pipeline([('vectorizer', vectorizer,), ('classifier', clf)])

In [57]:
classifier.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=<function text_cleaning at 0x000002A595767438>,
                                 use_idf=True, vocabulary=None)),
                ('classifier',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [58]:
 y_pred = classifier.predict(X_test)

In [59]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.83      0.81       285
           1       0.81      0.76      0.78       265

    accuracy                           0.80       550
   macro avg       0.80      0.80      0.80       550
weighted avg       0.80      0.80      0.80       550

In [60]:
confusion_matrix(y_test, y_pred)

array([[237,  48],
       [ 64, 201]], dtype=int64)

In [61]:
accuracy_score(y_test, y_pred)

0.7963636363636364